{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>

    <link rel="stylesheet" href="{% static 'style/index.css' %}">
    <link rel="stylesheet" href="{% static 'style/bootstrap.css' %}">

     
    <div class="container col-md ">
        <form id="#" class="form" action="" method='POST'>
            {% csrf_token%}
            
            <div class="title-2"><span>Admin</span></div>


            <div class="input-container">
                <input class="input_pwd" type="text" id="username" name="username" placeholder="Username">            
            </div>
            <div class="input-container">
                <input class="input_pwd" type="password" id="password1" name="password" placeholder="Password">            
            </div>
        <button type="submit">Login</button>
    
    </div>
    </form> 
</div>
</body>
</html>